<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<div>
<%= link_to 'Back to the list', tasks_path %>
</div>

<div>
  <%= link_to 'edit', edit_task_path(@task) %>
</div>
